<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
      <h1>Collision course: Dangerous intersections for Seattle bicyclists and pedestrians</h1>
      <p class="chatter"> This map shows where collisions involving bicyclists or pedestrian have occurred in Seattle from 2008 to May 2017. The darker the color on the map, the greater the number of collisions. The markers depict the top 10 locations where the most injuries or deaths have occurred. Click on those dots for details. </p>
        <div class="container">
          <div class="map-container">
            <aside class="legend">
              <h1>Number of collisions</h1>
              <ul class="scale">
                <li>
                  <span class="bikeBlock"></span> Bicycles</li>
                <li>
                  <span class="pedBlock"></span> Pedestrians</li>
              </ul>
            </aside>
            <div class="aspect-container">
              <leaflet-map>
                <tile-layer layer="cartoPositron">
                </tile-layer>
              </leaflet-map>
            </div>
          </div>
          <div class="navigation">
            <div class="title"> Select a set of data to view: </div>
          <div class=buttonRow>
            <input type="radio" name="layer-selection" id="bicycles" checked="checked">
             <label for="bicycles">Bicycles </label>
           <input type="radio" name="layer-selection" id="pedestrians">
            <label for="pedestrians">Pedestrians</label>
          </div>
            <div class="tab bicycles show-key">
              <div class="key">
                <div class="filler">Click on a marker for additional information on bicycle injuries and fatalities. </div>
                <div class="item">
                  <!-- <div class="swatch"></div> <div class="text"></div> -->
                </div>
              </div>
            </div>
            <div class="tab pedestrians">
              <div class="key ped">
                <div class="filler">Click on a marker for additional information on pedestrian injuries and fatalities. </div>
              </div>
            </div>
          </div>
        </div>
        <div class="source">
          Source: Seattle Department of Transportation
        </div>
        <div class="credit">
          ELLIS SIMANI / THE SEATTLE TIMES
        </div>
      </main>
    </responsive-child>

    <script>
window.collisionsData = <%= JSON.stringify(csv.collisions) %>;
window.injuriesData = <%= JSON.stringify(csv.injuries) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
